{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
  </div>

<header>
    <nav><h1>lönd</h1>
        <a href="/">lönd</a>
        <a href="/heimsalfur/America">america</a> 
        <a href="/heimsalfur/Asia">Asía</a> 
        <a href="/heimsalfur/Africa">Afrika</a>
        <a href="/heimsalfur/Ocianic">úthafs</a> 
        <a href="/heimsalfur/Europe">Evropa</a>
        <a href="/heimsalfur/Polar">Suðurskauts</a>
    </nav>
</header>
<main>
    <main>
        <div class = "banner">
            <h2>lönd</h2>
            {% for i in lf %}
                {% if region == i['region'] %}
                    <a href="/land/{{ i['alpha2Code'] }}"> {{ i ['name'] }} </a> <br><br>
                {% endif %}
            {% endfor %}
            <h2>{{fjoldi}}</h2>
        </div>

        </section>
    </main>
</main>
{% endblock %}