.selection {
    display: flex;
    flex-flow: wrap;
}
.vara {
    margin: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-areas: 
    "name"
    "img"
    "price";
}
.title {
    text-align: center;
}