<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<header>
    <a href="/karfa"><img scr="/static/cart.png" alt="cart" width="100" height="100"></a><a>({{ y }})</a>
</header>
{% extends 'base.html' %}
{% block content %}
<h4 class="title">Vörur:</h4>
    <section class="selection">
        {% for i in vl %}
        <section class="vorur">
            <h3 class="name">{{ i['item'] }}</h3>
            <img src="{{ i['mynd'] }}" alt="img" width="250" height="300" class="img">
            <a href="/add?item={{ i['item'] }}&verd={{ i['verd'] }}">{{ i['verd'] }}</a>
        </section><br>
        {% endfor %}
    </section>
{% endblock %}
