 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;/* = 960px ~ 1080px fartölvuskjár */
	 margin: 0 auto;
	 background-color:  black;
}
/* -- GRID AREA -- hnit */
.haus {
	grid-area: haus;
	text-align: center;
	color: orange;
	font-family: 'Creepster', cursive;
}
.main {
	grid-area: main;
	color: orange;
}
.topnav {
	grid-area: topnav;
}
.foot {
	grid-area: foot;
}
/* dálkar í container */
.as1 {
	grid-area: as1;
	border-right: 1px solid blue;
	padding-right: 1em;
}
.as2 {
	grid-area: as2;
	border-left: 1px solid blue;
	padding-left: 1em;
}
.art1 {
	grid-area: art1;
}
/* -- Grid Template area -- */
.body {
	display:grid;
	grid-template-areas:
	  "haus"
	  "topnav"
	  "main"
	  "foot"
	  
}
/* -- innri tög í main -- */
.main {
	display:grid;
	grid-gap:1em;
	grid-template-areas:
	  "art1 art1"
	  "as1 as2";
    grid-template-columns: 1fr 1fr;
}
/* -- flex box --*/
.topmenu, .footmenu {
	display:flex;
	flex-flow:row;
	justify-content: space-around;
	margin:0;
	padding:1em;
	color: black;
}
.topmenu li, .footmenu li {
	list-style-type: none;
}
.virkur {
	color: orange;
}
h4 {
	font-family: 'Creepster';
}
h2 {
	font-family: 'Creepster';
}