 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;/* = 960px ~ 1080px fartölvuskjár */
	 margin: 0 auto;
	 background-color:  pink;
}
/* -- GRID AREA -- hnit */
.haus {
	grid-area: haus;
	text-align: center;
	background-color: purple;
}

.main {
	grid-area: main;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.topnav {
	grid-area: topnav;
	border-right: 1px solid purple;
	border-left: 1px solid purple;
	border-top: 1px solid purple;
	border-bottom: 1px solid purple;
}
.foot {
	grid-area: foot;
	border-right: 1px solid purple;
	border-left: 1px solid purple;
	border-top: 1px solid purple;
	border-bottom: 1px solid purple;
}
/* dálkar í container */
.as1 {
	grid-area: as1;
	padding-right: 1em;
	background-color: purple;
}
.as2 {
	grid-area: as2;
	padding-left: 1em;
	background-color: orange;
	border-right: 1px solid purple;	
	border-top: 1px solid purple;
	border-bottom: 1px solid purple;
}
.art1 {
	grid-area: art1;
	background-color: lightpink;
	border-left: 1px solid purple;
	border-bottom: 1px solid purple;
}
/* -- Grid Template area -- */
.body {
	display:grid;
	grid-template-areas:
	  "topnav"
	  "haus"
	  "main"
	  "foot"
	  
}
/* -- innri tög í main -- */
.main {
	display:grid;
	grid-template-areas:
	  "art1  as2"
	  "as1  as1";
    grid-template-columns: 	6fr 3fr;
}
/* -- flex box --*/
.topmenu, .footmenu {
	display:flex;
	flex-flow:row;
	justify-content: space-around;
	margin:0;
	padding:1em;
	background-color:orange;
}
.topmenu li, .footmenu li {
	list-style-type: none;
}
